build/
build-*/
out/
cmake-build-*/
docs/
tests/
tools/
src/integrator/restir/
src/integrator/pathguide/

*.o
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.exp
*.pdb
*.ilk

*.swp
*.swo
.*.swp
.*.swo
.vscode/
.idea/
.cache/
compile_commands.json
.clangd/

*.exr
*.pfm
*.ppm
*.png
*.jpg
